.main {
    display: flex;
    gap: 10px;
    flex-direction: column;

    &__card {
        padding: 30px 20px;
        display: flex;
        flex-wrap: wrap;
        gap: 100px;
    }
}

.sort {
    display: flex;
    gap: 20px;
}