.block {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;

    __check &__form {
        padding: 50px 50px;
        width: 95%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .block__check {
            display: flex;
            gap: 250px;

            // flex-wrap: wrap;
            .block__photo {
                width: 600px;
                height: 500px;
                flex-shrink: 0;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 20px;
                background: #EEF2D1;
            }

            .block__inp {
                display: flex;
                flex-direction: column;
                justify-content: center;
                gap: 20pxwrap;

                .inp {
                    width: 500px;
                    height: 35px;
                    border: 1px solid rgba(106, 93, 93, 0.20);
                    border-radius: 5px;
                }
            }

        }

    }

}

.block__btn {
    width: 120px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    background: #EEF2D1;
    font-size: 20px;

}

.post__error {
    color: red;
}

.img {
    width: 600px;
    height: 500px;
    // object-fit: cover;
    border-radius: 20px;
}