section {
    width: 100%;
    height: 100%;
}

.container {
    max-width: 1680px;
    margin: 0 auto;
    padding: 0 10px;
}

.ul {
    padding: 20px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.main {
    width: 100%;
    text-align: end;
}

.info {
    display: flex;
    align-items: center;
    justify-content: center;

    &__card {
        display: flex;
        gap: 100px;
    }

    &__div {
        max-width: 600px;
        height: 600px;
    }

    &__image {
        width: 100%;
        ;
        height: 100%;
        border-radius: 40px;
    }

    &__desc {
        max-width: 600px;
        font-size: 18px;
        font-weight: 20px;
        width: 450px;
        line-height: 30px;
    }
}